<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <title><%= "#{yield(:page_title)} :: Rynexis" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "theme_toggle" %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

      <%= render "shared/alerts" %>
      <% if !user_signed_in? %>
        <%= render "shared/navbar" %>
      <% elsif user_signed_in? && current_user.admin? %>
        <%= render "shared/admin_nav" %>
      <% end %>


    <%= yield %>

    <div class="w-full" >
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
