<!DOCTYPE html>
<html>
  <head>
    <title>JobBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

      <%= render "shared/navbar" %>

      <% if flash[:notice] %>
        <%= render partial: "shared/alerts", locals: { message: flash[:notice], type: "notice" } %>
      <% elsif flash[:alert] %>
        <%= render partial: "shared/alerts", locals: { message: flash[:alert], type: "alert" } %>
      <% end %>
      <%#= render partial: "shared/alerts", locals: { message: flast[:notice] } %>


    <%= yield %>

    <div class="w-full" >
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
