<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:page_title)} - Job Board" || "Job Board" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

      <%= render "shared/navbar" %>
      <%= render "shared/alerts" %>


    <%= yield %>

    <div class="w-full" >
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
